ipython
ipykernel
jinja2
jsonschema 
typing-extensions
numpy
pandas
scikit-learn
matplotlib
seaborn
xgboost
lightgbm
python-dotenv
exceptiongroup 
pygments 
stack_data
oauthlib
kagglehub
tensorflow[and-cuda]
imblearn
catboost
shap
tqdm