ipython
ipykernel
jinja2
jsonschema 
typing-extensions
numpy
pandas
scikit-learn
matplotlib
seaborn
xgboost
python-dotenv
exceptiongroup 
pygments 
stack_data
oauthlib
kagglehub
imblearn
catboost
tqdm
pymongo[srv]
pymongo
certifi
mlflow==2.2.2
dagshub
dvc
pydantic
streamlit
langchain_community
langchain_groq
langchain_experimental